#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: whitesmoke;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
header {
  align-items: center;
}
div.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
img {
  max-width: 18vw;
  padding: 2vw;
}
div.card {
  padding: .25vw;
  max-width: 23.5vw; 
  border: 3px solid #ccc;
  border-radius: 2%;
  flex-direction: column;
}